*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width:335px;
  width:100%;
  height:100%;
  font-family:Roboto, sans-serif; 
  color:#b8b8b8;
  background-image: url(./office-bg.jpeg);
  background-size: 150%,150%;
  animation: background;
  animation-duration: 10s;
  animation-direction: alternate ;
  animation-iteration-count: infinite;
}

@keyframes background {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 100%, 100%;
  }
}


.container {
  font-family: "DM Sans", sans-serif;
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #fffefe;
  color: rgb(112, 112, 112);
  box-shadow: 5px 5px 0px 0px rgba(173, 173, 173, 0.1);
}
.title {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid rgba(167, 166, 166, 0.3);
}
.title span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}

.task-list {
  margin-top: 2.6rem;
  list-style: none;
}
.task-list li {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(206, 206, 206, 0.1);
  transition: all 0.5s ease;
  transform-origin: top left;
}
.fall {
  transform: rotate(10deg);
  opacity: 0;
}
.task-list .actions {
  flex-shrink: 0;
  padding-left: 0.7em;
}
.task-list .btn-action {
  border: none;
  background: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
input[type="checkbox"] {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
}
.task-list input[type="checkbox"] {
  position: relative;
  top: 0.3rem;
}
.task-list .label {
  transition: opacity 0.2s linear;
}
.task-list .done .label {
  opacity: 0.6;
  text-decoration: line-through;
}

.filter-wrapper {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

.form {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.form label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.form input {
  flex-grow: 1;
  border: none;
  background: #e6e6e6;
  padding: 0 1.5em;
  font-size: initial;
}

.form button {
  padding: 0 1.3rem;
  border: none;
  background: #cfcfcf;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.form button:hover {
  filter: brightness(110%);
}

.form input,
.form button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
}
